# JVM languages
.gradle
java/**/gradle/wrapper
java/*/out
java/*/build
java/*/.idea

groovy/**/gradle/wrapper
groovy/*/out
groovy/*/build
groovy/*/.idea

*.class
*.iml
*.ipr
*.iws

# CSharp
csharp/*/bin
csharp/*/obj

# C
c/*/tests.out*
